 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url('images/1096.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 621px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  line-height: 0.85;
  margin: 250px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(107,71,2,0.65), rgba(107,71,2,0.65)), url('images/fried_chicken_pattern-01.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 641px;
}

.u-section-2 .u-text-1 {
  line-height: 0.97;
  font-size: 2.25rem;
  background-position: 50% 0vh;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: rotate(0deg);
  margin: 43px 728px 0 75px;
}

.u-section-2 .u-text-2 {
  line-height: 1.26;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -70px 76px 0 446px;
}

.u-section-2 .u-list-1 {
  width: 990px;
  margin: 40px 75px 50px;
}

.u-section-2 .u-repeater-1 {
  min-height: 371px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  --radius: 15px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 10px 22px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: 0 156px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 10px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 19px 0 0;
}

.u-section-2 .u-list-item-2 {
  --radius: 15px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 10px 22px;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: 0 156px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 10px auto 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 19px 0 0;
}

.u-section-2 .u-list-item-3 {
  --radius: 15px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 10px 22px;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: 0 156px 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 10px auto 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 19px 0 0;
}

.u-section-2 .u-list-item-4 {
  --radius: 15px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 10px 22px;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: 0 156px 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 10px auto 0 0;
}

.u-section-2 .u-text-10 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 603px;
    margin-left: 0;
    opacity: 1;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 287px;
    margin-left: 322px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 352px;
    grid-template-columns: repeat(4, calc(25% - 7.5px));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 383px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 220px;
    margin-left: 102px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1109px;
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 337px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-2 {
    width: 236px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 96px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 96px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 96px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 96px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('images/WhatsAppImage2024-03-25at07.23.05_69a74bb9.jpg');
}

.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-3 .u-image-1 {
  min-height: 400px;
  background-image: url("images/people-farmer-checklist-and-chicken-in-agricultur-2023-11-27-05-14-03-utc.jpg");
  background-position: 88.31% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 259px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 200px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 192px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: -8px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 276px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  width: 58px;
  height: 58px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: -2px auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-3 .u-image-1 {
    min-height: 330px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 149px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 228px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 107px;
  }

  .u-section-3 .u-image-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 102px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-3 .u-image-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-3 .u-image-1 {
    min-height: 239px;
  }
} .u-section-4 {
  background-image: linear-gradient(#014509, #013107);
}

.u-section-4 .u-sheet-1 {
  min-height: 641px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-4 .u-image-1 {
  min-height: 536px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('images/top-view-turkey-frame-with-copy-space.jpg');
  background-position: 0% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-4 .u-text-1 {
  margin: 153px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 268px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 14px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 268px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  margin: 14px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 268px;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 268px;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  margin: 14px 0 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-4 .u-image-1 {
    min-height: 501px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 251px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 251px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 251px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 251px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 20px;
}

.u-section-5 .u-image-1 {
  min-height: 423px;
  background-image: url("https://images.unsplash.com/photo-1588597989061-b60ad0eefdbf?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1NzgzNjl8MHwxfHNlYXJjaHw0fHxwb3VsdHJ5fGVufDB8fHx8MTcxOTMyMjg1NHww&ixlib=rb-4.0.3&q=80&w=1080");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-image-2 {
  min-height: 423px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('https://images.unsplash.com/photo-1548550023-2bdb3c5beed7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1NzgzNjl8MHwxfHNlYXJjaHwxfHxwb3VsdHJ5fGVufDB8fHx8MTcxOTMyMjg1NHww&ixlib=rb-4.0.3&q=80&w=1080');
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-image-3 {
  min-height: 423px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('https://images.unsplash.com/photo-1589922583749-6b8473a85048?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1NzgzNjl8MHwxfHNlYXJjaHwyfHxwb3VsdHJ5fGVufDB8fHx8MTcxOTMyMjg1NHww&ixlib=rb-4.0.3&q=80&w=1080');
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-text-3 {
  margin: 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-image-4 {
  min-height: 423px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('https://images.unsplash.com/photo-1538170989343-ce003278e1a3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1NzgzNjl8MHwxfHNlYXJjaHwzfHxwb3VsdHJ5fGVufDB8fHx8MTcxOTMyMjg1NHww&ixlib=rb-4.0.3&q=80&w=1080');
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-5 .u-text-5 {
  margin: 78px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-5 .u-image-5 {
  min-height: 423px;
  background-image: url("https://images.unsplash.com/photo-1556316918-b8b177b155cc?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w1NzgzNjl8MHwxfGNvbGxlY3Rpb258MXxiT2ZUcFlzcHJtTXx8fHx8Mnx8MTcxOTMyMjg1NHw&ixlib=rb-4.0.3&q=80&w=1080");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 20px;
}

.u-section-5 .u-custom-html-1 {
  height: auto;
  min-height: 29px;
  margin: 376px 0 0 312px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    min-height: 529px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-image-3 {
    min-height: 317px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-image-4 {
    min-height: 349px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-image-5 {
    min-height: 317px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-left: 252px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 88px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-4 {
    min-height: 267px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-left: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1657px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    min-height: 601px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-5 .u-image-4 {
    min-height: 378px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-left: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1017px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 77px auto 0;
}

.u-section-6 .u-text-2 {
  width: 746px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 22px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 700px;
  grid-gap: 17px;
  margin: 47px 0 60px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 6px 6px;
}

.u-section-6 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-6 .u-back-image-1 {
  left: -50px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-6 .u-back-image-2 {
  left: -50px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-6 .u-back-image-3 {
  left: -50px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-6 .u-back-image-4 {
  left: -50px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-5 {
  margin-right: 0;
}

.u-section-6 .u-back-image-5 {
  left: -50px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-6 .u-gallery-1 {
    height: 576px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1327px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1010px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3401px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2567px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2290px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1641px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/photo-1538170989343-ce003278e1a3.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 787px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: 61px 0 59px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 667px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 0 3px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 21px 3px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 21px auto 0 0;
}

.u-section-7 .u-list-1 {
  width: 403px;
  margin: 35px auto 0 0;
}

.u-section-7 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 281px;
  grid-gap: 30px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
  --radius: 14px;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  margin: 16px 0 0;
}

.u-section-7 .u-text-5 {
  font-weight: 400;
  margin: 21px 0 0;
}

.u-section-7 .u-icon-1 {
  font-size: 0.875em;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
  --radius: 14px;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-7 .u-text-6 {
  font-size: 1.125rem;
  margin: 16px 0 0;
}

.u-section-7 .u-text-7 {
  font-weight: 400;
  margin: 21px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 667px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-form-1 {
  background-image: none;
  --radius: 11px;
  height: 513px;
  width: 510px;
  margin: 58px 0 0;
}

.u-section-7 .u-input-1 {
  --radius: 20px;
}

.u-section-7 .u-input-2 {
  --radius: 20px;
}

.u-section-7 .u-input-3 {
  --radius: 20px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  --radius: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 550px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 550px;
  }

  .u-section-7 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-list-1 {
    width: 300px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 158px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 158px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 9px 10px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-7 .u-list-1 {
    width: 478px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 184px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 184px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-form-1 {
    height: 524px;
    margin-top: 56px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-list-1 {
    width: 320px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 126px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 126px;
  }

  .u-section-7 .u-form-1 {
    margin-top: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}body{
  background: #222
}
.whatsapp-ico{
    fill: white;
    width: 50px;
    height: 50px;
    padding: 3px;
    background-color: #4dc247;
    border-radius: 50%;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    /* box-shadow: 2px 2px 11px rgba(0,0,0,0.7); */
    position: fixed;
    bottom: 20px;
    right : 20px;
    z-index: 10;
}
.whatsapp-ico:hover{
    box-shadow: 2px 2px 11px rgba(0,0,0,0.7);
}